.App {
  background-color: #07889B;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 125px;
}

#input-form {
  background-color: #07889B;
  color: white;
}

#input-form div {
  margin-bottom: 5px;
}

#input-form input, #input-form textarea {
  width: 275px;
}

#input-form input[type="submit"] {
  width: 150px;
}

.Stalk {
  background-color: #07889B;
  color: white;
}

.StalkList {
  background-color: #07889B;
  color: white;
  list-style-type: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
